@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  background: #f5f5f5;
}

.custom-content {
  width: 100%;
  height: calc(100vh - 3rem);
  background: #f5f5f5;
}
